<div id="<%= dom_id recipe %>" class="recipe">
  <div>
    <h2><%= recipe.name %></h2>
    <%= link_to "View", recipe %>
    <% if can? :destroy, recipe %>
          <%= link_to "Remove", recipe_path(recipe.id), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
        <% end %>
  </div>
  <div>
    <p><%= recipe.description %></p>
  </div>
</div>
