<h1>Welcome <%= current_user.name %></h1>

<div class="center">
  <button class="new-recipe">
    <%= link_to "New recipe", new_recipe_path %>
  </button>
</div>

<% if @recipes.length.zero? %> 
  <div class="empty">
    <%= image_tag ("empty.png") %>
    <h3>You don't have any recipes saved. Create a recipe to see it here</h3>
  </div>
<% else %>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    <% end %>
  </div> 
<% end %>
