<p style="color: green"><%= notice %></p>

<%= render @recipes %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipes) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipes, method: :delete %>
</div>
