<div class="foods-wrapper">
  
  <% if @current_user %>
    <%= link_to "Add Food", new_food_path, id: "add_food_btn" %>
  <% end %>
  
  <h1>Foods:</h1>
  
  <% if @foods.empty? %>
    <p id="no_food_msg">There are no foods added currently</p>
  <% else %>
    <div id="foods">
    <table>
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Action</th>
        </tr>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.quantity %></td>
            <td>$ <%= food.price %></td>
            <td><%= button_to "Delete", food_path(food), method: :delete %>  <%= link_to "Edit", edit_food_path(food) %></td>
        </tr>
      <% end %>
    </table>
    </div>
  <% end %>
</div>
