<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="nav-links">
        <%= link_to "Public Recipies", root_path, id: "Home_btn" %>
      <% if user_signed_in? %>
        <%= link_to "Foods", new_food_path, id: "Home_btn" %>
        <%= link_to "Recipies", id: "Home_btn" %>
      </div>
        <div class="current_user_wrapper">
          <div class="current_user_options">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, id: "log_out_btn" %>
          </div>
        </div>
      <% end %>
      <% if !user_signed_in? && request.env['PATH_INFO'] != new_user_session_path %>
        <%= link_to "Login", new_user_session_path, id: "log_in_btn" %>
      <% end %>
  </header>

    <%= yield %>
  </body>
</html>
