<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="nav-links">
        <%= link_to "Public Recipies", root_path, id: "Home_btn" %>
        <% if user_signed_in? %>
          <%= link_to "Foods", foods_path, id: "Home_btn" %>
          <%= link_to "Recipies", id: "Home_btn" %>
        <% end %>
      </div>
      <div class="current_user_wrapper">
        <div class="current_user_options">  
          <% if user_signed_in?  %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, id: "log_out_btn" %>
          <% end %>

          <% if !user_signed_in? && request.env['PATH_INFO'] != new_user_session_path  %>
            <%= button_to "Login", new_user_session_path, id: "log_in_btn" %>
          <% end %>
        </div>
      </div>
      </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
