<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <ul>
          <li>
            <%= link_to "Public Recipes", id: "Home_btn" %>
          </li>
          <li>
            <%= link_to "Foods", foods_path %>
          </li>
          <li>
            <%= link_to "Recipes", recipes_path %>
          </li>
        </ul>
      </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <div class="welcome">
        <h1>Hello <%= current_user.name %></h1>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %> 
        </div>
    <% end %>

    <%= yield %>
  </body>
</html>
