<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <header>
      <div class="nav-links">
        <%= link_to "Public Recipies", id: "Home_btn" %>
        <%= link_to "Foods", foods_path, id: "Home_btn" %>
        <%= link_to "Recipies", id: "Home_btn" %>
      </div>
      <div class="current_user_wrapper">
        <div class="current_user_options">
          <% if true %>
            <%= button_to "Login", id: "log_in_btn" %>
          <% else %>
            <%= button_to "Logout", foods_path, method: :delete, id: "log_out_btn", class: "bg-red-800 text" %>
          <% end %>
        </div>
      </div>
    </header>
  <% flash.each do |key, value| %>
    <p class="notification <%= key %>"><%= value %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
